<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'PARTY.CONTENT_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form (ngSubmit)="save()" [formGroup]="form" class="dialog-form">
      <div class="full-width file-input-row">
        <input id="job-content-file" type="file" class="custom-file-input" (change)="onFileChange($event)" />
      </div>
      <mat-error *ngIf="form.get('contentFile')?.hasError('required') && form.get('contentFile')?.touched">
        {{ 'ORDER.FILE_REQUIRED' | translate }}
      </mat-error>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'PARTY.CONTENT_TYPE' | translate }}</mat-label>
        <input matInput formControlName="workEffortContentTypeId" readonly />
      </mat-form-field>

      <div class="dialog-actions">
        <button mat-raised-button type="submit" color="primary" class="me-4">
          {{ 'COMMON.SAVE' | translate }}
        </button>
        <button mat-stroked-button type="button" (click)="close()">
          {{ 'COMMON.CANCEL' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
