<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<mat-card class="mat-elevation-z10">
  <mat-card-title mat-dialog-title>
    {{ 'PARTY.EDIT_ADDRESS_TITLE' | translate }}
  </mat-card-title>
  <mat-card-content mat-dialog-content>
    <form
      (ngSubmit)="addEditAddress()"
      [formGroup]="addEditAddressForm"
      fxLayout="row wrap"
      fxLayoutAlign="start"
    >
      <mat-form-field appearance="outline" fxFlex="100%">
        <mat-label>{{ 'COMMON.NAME' | translate }}</mat-label>
        <input matInput placeholder="{{ 'COMMON.NAME' | translate }}" formControlName="toName" />
        <mat-error *ngIf="addEditAddressForm.get('toName')?.hasError('required')">
          {{ 'PARTY.TO_NAME_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="49%">
        <mat-label>{{ 'CUSTOMER.ADDRESS1' | translate }}</mat-label>
        <input matInput placeholder="{{ 'CUSTOMER.ADDRESS1' | translate }}" formControlName="address1" />
        <mat-error *ngIf="addEditAddressForm.get('address1')?.hasError('required')">
          {{ 'CUSTOMER.ADDRESS1' | translate }} {{ 'CUSTOMER.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="49%">
        <mat-label>{{ 'CUSTOMER.ADDRESS2' | translate }}</mat-label>
        <input matInput placeholder="{{ 'CUSTOMER.ADDRESS2' | translate }}" formControlName="address2" />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="49%">
        <mat-label>{{ 'CUSTOMER.CITY' | translate }}</mat-label>
        <input matInput placeholder="{{ 'CUSTOMER.CITY' | translate }}" formControlName="city" />
        <mat-error *ngIf="addEditAddressForm.get('city')?.hasError('required')">
          {{ 'CUSTOMER.CITY' | translate }} {{ 'CUSTOMER.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="49%">
        <mat-label>{{ 'CUSTOMER.POSTAL_CODE' | translate }}</mat-label>
        <input matInput placeholder="{{ 'CUSTOMER.POSTAL_CODE' | translate }}" formControlName="postalCode" />
        <mat-error *ngIf="addEditAddressForm.get('postalCode')?.hasError('required')">
          {{ 'CUSTOMER.POSTAL_CODE' | translate }} {{ 'CUSTOMER.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="49%">
        <mat-label>{{ 'CUSTOMER.COUNTRY' | translate }}</mat-label>
        <mat-select formControlName="countryGeoId" name="countryGeoId">
          <mat-option *ngFor="let country of countries" [value]="country.geo_id">
            {{ country.geo_name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addEditAddressForm.get('countryGeoId')?.hasError('required')">
          {{ 'CUSTOMER.COUNTRY' | translate }} {{ 'CUSTOMER.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <span fxFlex="2%"></span>

      <mat-form-field appearance="outline" fxFlex="49%">
        <mat-label>{{ 'CUSTOMER.STATE' | translate }}</mat-label>
        <mat-select formControlName="stateProvinceGeoId" name="stateProvinceGeoId">
          <mat-option *ngFor="let state of states" [value]="state.geo_id">
            {{ state.geo_name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addEditAddressForm.get('stateProvinceGeoId')?.hasError('required')">
          {{ 'CUSTOMER.STATE' | translate }} {{ 'CUSTOMER.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <div fxFlex="100%" fxLayoutAlign="start">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="me-4"
          [disabled]="isLoading()"
        >
          <span *ngIf="isLoading()">{{ 'COMMON.LOADING' | translate }}</span>
          <span *ngIf="!isLoading()">{{ 'COMMON.SAVE' | translate }}</span>
        </button>
        <button mat-stroked-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
